@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* use image for color theme */
.md-footer,
.md-header,
.md-tabs,
body {
    /*    background-image: url('blue-tunnel.jpg');*/
    background-attachment: fixed;
    background-image: url("default.jpg");
    background-size: cover;
}
.md-container,
.md-search__inner {
    background-color: rgba(0, 0, 0, 0.9);
}
.md-footer-meta,
.md-footer-nav {
    background: transparent;
}

/* General style */
.md-typeset h1,
.md-tabs,
.md-header-nav__topic,
.md-sidebar {
    font-family: "Oswald", sans-serif;
}
.md-tabs a {
    font-size: 0.9rem;
}
.md-sidebar label {
    font-size: 0.85rem;
}
.md-sidebar a {
    font-size: 0.75rem;
    margin-top: 0.4em;
}
.md-typeset h1 {
    color: white;
}
.md-typeset__table th {
    border-bottom: 2px solid darkorange;
    font-weight: bold;
}
.md-typeset__table tr:nth-child(even) {
    background: rgb(61, 61, 76);
}
.md-typeset table:not([class]) tr:nth-child(even):hover {
    background-color: rgba(61, 61, 76, 0.035);
}

/* change link colors for grey theme */
.md-header-nav__button:hover {
    color: darkorange;
    opacity: 1;
    transition: color 0.5s;
}
[data-md-color-primary="grey"] .md-typeset a {
    color: #00ade2;
}
[data-md-color-primary="grey"] .md-typeset a:hover {
    color: darkorange;
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-sidebar label,
.md-nav__item--nested > .md-nav__link,
.md-sidebar a {
    color: gray;
}
.md-nav__link:hover {
    color: darkorange;
}
.md-nav__link[data-md-state="blur"] {
    color: rgb(180, 180, 180);
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-footer-nav__link {
    font-weight: bold;
}
.md-footer-nav__link:hover {
    color: darkorange;
    opacity: 1;
    transition: color 0.5s;
}
a.headerlink {
    color: gray;
}

hr {
    border-color: white;
}

/* display external links with icon */
div.md-content a[href^="http://"]:not([href*="alinex.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="alinex.gitlab.io"]):after,
div.md-content a[href^="//"]:not([href*="alinex.gitlab.io"])
{
    content: "↗";
    display: inline-block;
    font-size: 70%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
}

/* attribute classes to be used via {: .class} */
.left {
    /* left align with text float on the right */
    float: left;
    padding-right: 20px;
}
.right {
    /* right align with text float on the left */
    float: right;
    padding-left: 20px;
}
.icon {
    /* change image size */
    width: 25%;
}
.border {
    /* add drop shadow */
    -moz-box-shadow: 0 0 18px 5px rgba(250, 249, 249, 0.5);
    -webkit-box-shadow: 0 0 18px 5px rgba(250, 249, 249, 0.5);
    border: 1px solid #7f8081;
    box-shadow: 0 0 18px 5px rgba(250, 249, 249, 0.5);
}

/* special use tags ==...== */
mark,
.md-typeset mark {
    background-color: rgb(255, 253, 130);
    color: black;
    font-weight: bold;
}

/* blockdiag */
img[src*="%3Ctitle%3Eblockdiag%3C"] {
    background-color: lightgray;
}

/* image zoom */
img {
    height: auto;
    width: auto;
}
.zoom,
.zoom2 {
    cursor: zoom-in;
    transition: transform ease-in-out 0.5s;
}
.image-zoom {
    background: #000;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.5),
        0 6px 20px 0 rgba(238, 238, 238, 0.5);
    cursor: zoom-out;
    position: absolute;+
    transform: scale(1);
    z-index: 100;
}
.image-zoom2 {
    background: #000;
    cursor: zoom-out;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.5),
        0 6px 20px 0 rgba(238, 238, 238, 0.5);
    position: absolute;
    transform: scale(1.5);
    z-index: 100;
}

/* progress bar */
.progress-label {
    font-weight: 700;
    line-height: 1.2rem;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 6px #000000;
    width: 100%;
    white-space: nowrap;
}
.progress-bar {
    background-color: #2979ff;
    float: left;
    height: 1.2rem;
}
.progress {
    background-color: #cccccc8a;
    display: block;
    height: 1.2rem;
    margin: 0.5rem 0;
    position: relative;
    width: 100%;
}
.progress.thin {
    height: 0.4rem;
    margin-top: 0.9rem;
}
.progress.thin .progress-label {
    margin-top: -0.4rem;
}
.progress.thin .progress-bar {
    height: 0.4rem;
}
.progress-100plus .progress-bar {
    background-color: #00e676;
}
.progress-80plus .progress-bar {
    background-color: #fbc02d;
}
.progress-60plus .progress-bar {
    background-color: #ff9100;
}
.progress-40plus .progress-bar {
    background-color: #ff5252;
}
.progress-20plus .progress-bar {
    background-color: #ff1744;
}
.progress-0plus .progress-bar {
    background-color: #f50057;
}
